@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 2em;
  width: 65%;
}

.card {
  display: flex;
  flex-direction: column;
  width: min-content;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  overflow: hidden;
}

.badge {
  font-family: monospace;
  background-color: rgba(135, 206, 250, 0.4);
  padding: 8px;
  border-radius: 1em;
}

.btn-icon {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-brand {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-filled {
  border: 0;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 5px 5px;
  transition: background-color 0.5s;
}

.btn-filled:hover {
  cursor: pointer;
  background-color: lightsteelblue;
}

.btn-outline {
  border: 2px solid black;
  background-color: transparent;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 5px 5px;
  transition: background-color 0.5s;
}

.btn-outline:hover {
  cursor: pointer;
  background-color: lightblue;
}

.socs-container {
  display: flex;
  gap: 15px;
}

.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .socs-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 100%;
  }
}
