@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 2em;
  width: 65%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  width: min-content;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  overflow: hidden;
}

.badge {
  font-family: monospace;
  background-color: rgba(135, 206, 250, 0.4);
  padding: 8px;
  border-radius: 1em;
}

.btn-icon {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-brand {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-filled {
  border: 0;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 5px 5px;
  transition: background-color 0.5s;
}

.btn-filled:hover {
  cursor: pointer;
  background-color: lightsteelblue;
}

.btn-outline {
  border: 2px solid black;
  background-color: transparent;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 5px 5px;
  transition: background-color 0.5s;
}

.btn-outline:hover {
  cursor: pointer;
  background-color: lightblue;
}

.btn-outline-delete {
  border: 2px solid black;
  background-color: transparent;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 5px 5px;
  transition: background-color 0.5s;
}

.btn-outline-delete:hover {
  cursor: pointer;
  background-color: lightcoral;
}

.socs-container {
  display: flex;
  gap: 15px;
}

.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input-field {
  padding: 5px 10px;
}

.letter-card-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.card {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px black;
}

.card-content {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 6969;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-show {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  width: 50%;
  max-height: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px black;
  display: flex;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .socs-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 90%;
  }
}
