<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/output.css" />
    <title>Hoshimachi Suisei | Porto</title>
  </head>
  <body>
    <div
      class="w-full min-h-screen flex flex-col justify-center items-center gap-4"
    >
      <h1 class="text-3xl font-bold">404NOTFOUND</h1>
      <img src="imgs/404.jpg" alt="Not Found" width="40%" />
    </div>
  </body>
</html>
