<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/output.css" />
    <title>Hoshimachi Suisei | Porto</title>
  </head>
  <body>
    <div class="w-full min-h-screen flex justify-center items-center">
      <div
        class="w-full md:w-8/12 lg:w-7/12 flex flex-col md:flex-row items-center md:items-start gap-4 p-6 md:p-0"
      >
        <div class="flex flex-col gap-4">
          <h1 class="text-3xl font-bold">Suichannnnnnnnnn</h1>
          <p class="text-justify">
            Hoshimachi Suisei (星街すいせい) is a female Japanese Virtual
            YouTuber associated with hololive. Originally an independent VTuber
            who eventually was recruited into hololive production's label
            INoNaKa Music, she was transferred to the main hololive branch on 1
            December 2019. She is currently part of "hololive 0th gen" alongside
            fellow solo debutants: Tokino Sora, Roboco, Sakura Miko and AZKi.
          </p>
          <button
            class="btn-outline"
            onclick="window.location.href = '/letter'"
          >
            <div class="flex justify-center items-center gap-3">
              Send Letter <img src="imgs/icons/heart.svg" width="25px" />
            </div>
          </button>
          <div class="flex justify-center md:justify-start items-center">
            <button class="btn-brand">
              <img src="imgs/icons/hololive.png" width="150px" />
            </button>
            <button class="btn-brand">
              <img src="imgs/icons/innk.png" width="150px" />
            </button>
          </div>
          <div class="flex justify-center md:justify-start gap-4">
            <button class="btn-icon" onclick="socsClick('x')">
              <img src="imgs/icons/x.svg" width="30px" />
            </button>
            <button class="btn-icon" onclick="socsClick('youtube')">
              <img src="imgs/icons/youtube.svg" width="30px" />
            </button>
            <button class="btn-icon" onclick="socsClick('spotify')">
              <img src="imgs/icons/spotify.svg" width="30px" />
            </button>
          </div>
        </div>
        <div>
          <div
            class="flex flex-col w-[200px] bg-white shadow-2xl rounded-2xl overflow-hidden"
          >
            <img src="imgs/suisei.gif" width="300px" />
            <div class="flex flex-col gap-2 p-4">
              <div class="flex flex-col">
                <h3 class="text-xl font-bold">Hoshimachi Suisei</h3>
                <p>星街すいせい</p>
                <div class="flex flex-wrap gap-2 pt-3">
                  <span class="badge">VSinger</span>
                  <span class="badge">VTuber</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    const socsClick = (socs) => {
      if (socs === "youtube") {
        window.open(
          "https://youtube.com/@hoshimachisuisei?si=CnbLqkky-xoDo7Ru"
        );
      } else if (socs === "x") {
        window.open("https://x.com/suisei_hosimati");
      } else if (socs === "spotify") {
        window.open(
          "https://open.spotify.com/artist/726WiFmWkohzodUxK3XjHX?si=4Pg8513QS4OYWTPDH7aKMQ"
        );
      }
    };
  </script>
</html>
