<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/output.css" />
    <title>Hoshimachi Suisei | Porto</title>
  </head>
  <body>
    <div class="w-full min-h-screen flex justify-center items-center">
      <div class="w-full flex flex-col items-center min-h-screen">
        <div
          id="container-1"
          class="w-full md:w-7/12 flex flex-col justify-center items-center gap-4 min-h-screen py-6"
        >
          <form
            id="form-letter"
            class="w-11/12 md:w-7/12 flex flex-col gap-7"
            method="post"
          >
            <div class="flex gap-5 items-center">
              <img
                class="btn-icon"
                src="imgs/icons/chevron-left.svg"
                onclick="window.location.href = '/'"
              />
              <h1 class="text-3xl font-bold">Send Letter</h1>
            </div>
            <div class="form-field">
              <label for="name">Name</label>
              <input
                class="input-field"
                id="name"
                name="name"
                type="text"
                placeholder="Insert name"
              />
              <div class="form-field-row">
                <input id="anon" name="anon" type="checkbox" />
                <label for="anon">Anonymous?</label>
              </div>
            </div>
            <div class="form-field">
              <label for="email">Email</label>
              <input
                class="input-field"
                id="email"
                name="email"
                type="email"
                placeholder="Insert email"
              />
            </div>
            <div class="form-field">
              <label for="phone">Phone Number</label>
              <input
                class="input-field"
                id="phone"
                name="phone"
                type="tel"
                placeholder="Insert phone number"
              />
            </div>
            <div class="form-field">
              <label for="subject">Subject</label>
              <input
                class="input-field"
                id="subject"
                name="subject"
                type="text"
                placeholder="Insert subject"
              />
            </div>
            <div class="form-field">
              <label for="message">Your Message</label>
              <textarea
                class="input-field"
                id="message"
                name="message"
                type="text"
                placeholder="Type your message..."
              ></textarea>
            </div>
            <div class="form-field">
              <label>Emoji</label>
              <div class="max-w-max flex flex-wrap gap-5">
                <div class="form-field-row">
                  <input
                    id="emoji-1"
                    name="emoji"
                    type="radio"
                    value="emoji-1"
                    checked
                  />
                  <label for="emoji-1">❤️</label>
                </div>
                <div class="form-field-row">
                  <input
                    id="emoji-2"
                    name="emoji"
                    type="radio"
                    value="emoji-2"
                  />
                  <label for="emoji-2">🌟</label>
                </div>
                <div class="form-field-row">
                  <input
                    id="emoji-3"
                    name="emoji"
                    type="radio"
                    value="emoji-3"
                  />
                  <label for="emoji-3">🎉</label>
                </div>
                <div class="form-field-row">
                  <input
                    id="emoji-4"
                    name="emoji"
                    type="radio"
                    value="emoji-4"
                  />
                  <label for="emoji-4">🔥</label>
                </div>
                <div class="form-field-row">
                  <input
                    id="emoji-5"
                    name="emoji"
                    type="radio"
                    value="emoji-5"
                  />
                  <label for="emoji-5">👏</label>
                </div>
              </div>
            </div>
            <div class="flex gap-3 justify-center">
              <button type="reset" class="btn-outline">Reset</button>
              <button id="btn-submit" type="submit" class="btn-filled">
                Submit
              </button>
            </div>
          </form>
        </div>
        <div
          id="container-2"
          class="w-full flex flex-col justify-start items-center min-h-screen gap-6 p-6"
        >
          <h1 class="text-3xl font-bold">My Letter</h1>
          <div
            id="letter-card-container"
            class="w-full lg:w-8/12 grid grid-cols-2 gap-5"
          ></div>
        </div>
      </div>
    </div>
    <div id="modal" class="modal">
      <div class="modal-container">
        <div class="modal-content" id="modal-content">
          <button
            id="modal-close-btn"
            class="btn-icon modal-close-btn"
            onclick="closeModal()"
          >
            <img src="imgs/icons/square-x.svg" />
          </button>
        </div>
      </div>
    </div>

    <script src="scripts/main.js"></script>
    <script>
      const anonCheck = document.getElementById("anon");
      anonCheck.addEventListener("change", () => {
        document.getElementById("name").disabled = anonCheck.checked;
      });
    </script>
  </body>
</html>
